
.socials-wrapper a{
    cursor: pointer;
}

.convos-logo{
    width: 300px;
    height: 300px;
}


.ig-button{
    width: 75px;
    height: 75px;
}

.youtube-btn{
    width: 85px;
    height: 60px;
}

.podcast-section-wrapper{
    position: relative;
}
.follow{
    color: white;
}
.socials-wrapper{
    /* margin-top: 50px;
    right: 500px; */
    background-color: #333333;
    padding: 1%;
    border-radius: 0 0 16px 16px;
    position: absolute;
    top:-20px;
    left:.5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.podcast-gen-description{
    background-color: #A6ACAF;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.pod-call-to-action{
    color: #C11611;
}

.podcast-episode-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.podcast-episode-wrapper div{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2;
    grid-row: span 2;
    background-color: #566573;
    margin: 1%;
    /* border-radius: 16px; */
}

.pod-episode{
    
}
.podcast-episode-title{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    /* border-radius: 16px; */
    text-align: left;
    padding: 10px 0 10px 15px;
    background-color: lightgray;
    font-size: large;
}

.video-player{
    width: 80%;
    margin: 0 0 3% 0;
}

@media(max-width: 800px){

    /* .promos{
        display: flex;
        flex-direction: column-reverse;
    } */
    .podcast-section-wrapper{
        position: relative;
    }

    .convos-logo{
        width: 400px;
        height: 400px;
    }

    
    .ig-button{
        width: 100px;
        height: 100px;
    }

    .youtube-btn{
        width: 105px;
        height: 75px;
    }

    .socials-wrapper{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
    }

    
    .podcast-gen-description{
        background-color: #A6ACAF;
        padding: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3em;
    }

    .pod-call-to-action{
        color: #C11611;
    }
    
    .podcast-episode-title{
        width: 97%;
        margin-right: auto;
        margin-left: auto;
        /* border-radius: 16px; */
        text-align: left;
        padding: 10px 0 10px 15px;
        background-color: lightgray;
        font-size: large;
    }

    .video-player{
        width: 100%;
        height: 270px;
        overflow: hidden;
    }
}

@media(max-width:500px){

    .socials-wrapper{
        /* background-color: white; */
        position: absolute;
        border-radius: 0 0 16px 16px;
        margin-right: 5px;
        padding: 0;
    }

    .follow{
        display: none;
    }
    .podcast-gen-description{
     font-size: medium;
    }

    .convos-logo{
        width: 210px;
        height: 210px;
    }

    .ig-button{
        width: 75px;
        height: 75px;
    }

    .youtube-btn{
        width: 85px;
        height: 60px;
    }

    

    .podcast-episode-title{
        font-size: medium;
    }

    .video-player{
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
}

@media(max-width:400px){

    .convos-logo{
        width: 200px;
        height: 200px;
    }

    .ig-button{
        width: 75px;
        height: 75px;
    }

    .youtube-btn{
        width: 85px;
        height: 60px;
    }

    .socials-wrapper{
        position: static;
        float: right;
        margin-top: 50px;
        border-radius: 16px;
    }

    
    .podcast-gen-description{
    
    }


    .podcast-episode-title{
        width: 95%;
        padding: 5px 0 5px 10px;
    }
}



@media(max-width: 350px){
    .socials-wrapper{
        margin-top: 50px;
        flex-direction: column;
    }
}