
@media(max-width:400px){

    .convos-logo{
        width: 200px;
        height: 200px;
    }

    .ig-button{
        width: 75px;
        height: 75px;
    }

    .youtube-btn{
        width: 85px;
        height: 60px;
    }

    .socials-wrapper{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        float: right;
        margin-top: 125px;
    }
    
    .podcast-gen-description{
        background-color: #A6ACAF;
        padding: 10px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .video-player{
        width: 350px;
        height: 250px;
        overflow: hidden;
    }

    .podcast-episode-title{
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        border-radius: 16px;
        text-align: left;
        padding: 5px 0 5px 10px;
        background-color: lightgray;
    }
}



