.header-bar{
    color:white;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    height: 70px;
    /* display: flex;
    align-items: center;
    flex-direction:row-reverse; */
     /* flex-wrap: wrap;
    justify-content: space-between;  */
    
}

.burger-icon{
    display: none;
}

.invisible-element{
    display: none;
}

.site-name{
    
    float: left;
    padding-left: 10px;
   
}

.desktop-menu-wrapper{
    /* flex: 50%; */
    float:right;
    text-align:  right;
    display: flex;
    align-items: flex-end;
    margin-bottom:10px;
    height: 100%;
   margin-right:0;
}


.desktop-menu-item{
    text-align: right;
   padding: 0 10px 0 10px;
}

@media(max-width: 800px){

    .desktop-menu-wrapper{
        display: none;
    }
    .desktop-menu-item{
        display: none;
    }

    .header-wrapper{
        position:sticky;
        top:0;
    }

    .header-bar{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }

    .site-name{
        float:none;
        font-size: 1.5em;
    }

    /* .menu-btn{
     width: 50px;
    } */

    .invisible-element{
        display: block;
        width: 25px;
    }

    .burger-icon{
        display: block;
        position:sticky;
        margin-left:7px;
        width: 25px;
        height: 25px;
        padding: 0;
    }

}
@media (max-width:500px){
    .header-wrapper{
        position:sticky;
        top:0;
    }

    .site-name{
       
        font-size: 1.5em;
    }

    /* .menu-btn{
     width: 50px;
    } */

}

/* @media (max-width:400px){
    .header-wrapper{
        position:sticky;
        top:0;
    }

    .header-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }

    .site-name{
       
        font-size: 1.5em;
    }

     .menu-btn{
     width: 50px;
    } 

    .invisible-element{
        width: 25px;
    }

    .burger-icon{
        position:sticky;
        margin-left:7px;
        width: 25px;
        height: 25px;
        padding: 0;
    }

} */
