.header-bar{
    color:white;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:400px){
    .header-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        z-index: -100;
    }

    .site-name{
       
        font-size: 1.5em;
    }

    /* .menu-btn{
     width: 50px;
    } */

    .invisible-element{
        width: 25px;
    }

    .burger-icon{
        position:sticky;
        margin-left:7px;
        width: 25px;
        height: 25px;
        padding: 0;
    }

}
