.App {
  text-align: center;
}


.site-intro{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 550;
    padding: 10px 0 10px 10px;
    background-color: rgb(51, 51,51);
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-size: x-large;
}

.gone{
  display: none;
  /* width: 0;
  height:0;
  transition: .5ms ease all; */
}



